/ADDITIONAL-TOPICS
/FUTURE-TOPICS
#.gitignore

# macOS Files
.DS_Store

# Ignore .sh files
#*.sh

# Terraform Files and Folders
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
18-Azure-Container-Registry-ACR/18-03-ACR-not-attached-to-AKS-Schedule-to-VirtualNodes/kube-manifests/azure-aks-kubernetes-masterclass.code-workspace
